main {
}

main div.heading {
}

main div.heading h1 {
  font-family: "poppins_bold";
  text-align: center;
  margin-top: 65px;
  color: #000;
  font-size: 50px;
}

main section.ab {
}

main section.ab div.left {
}

main section.ab h2 {
  font-family: "poppins_semibold";
  text-align: center;
  margin-top: 90px;
}

main section.ab p {
  margin-top: 90px;
  padding-left: 40px;
  font-family: "poppins_regular";
}

main section.ab img {
  height: 404px;
  position: static;
  top: -127px;
  left: 909px;
  border-radius: 20px;
}
