
.oneimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgone {
    height: 70vh;
}
.left h1 {
    text-align: center;
}
div.right {
    position: relative;    
}
.aatw {
    font-size: 28px;
    color: rgb(0, 8, 255);
}
.nota {
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 0, 0);
}

#main {}

#main  {}